<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('index/index/index')}">购书中心管理信息系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="">主页</a></li>
                <li><a href="">关于</a></li>
                <!--<li><a href="">联系方式</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {if condition="($Think.session.employee != '') OR ($Think.session.employee != null)"}
                    <li><a href="{:url('admin/Index/index')}">后台管理</a></li>
                    <li><a href="{:url('admin/Login/logout')}">您好，{$Think.session.employee} | 退出</a></li>
                {else /}
                <li><a href="{:url('index/Login/index')}">登录</a></li>
                <li><a href="{:url('index/Login/register')}">注册</a></li>
                {/if}
            </ul>
        </div>
    </div>
</div>